<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beverley</title>
    
  </head>
  <body>
	<form action="/stripe" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="amount">Amount of Drink Credits:</label>
        <input type="number" id="amount" name="amount" min="50">
        <input type="submit", value="Submit">
    </form>
    <h1>THIS IS A PROOF OF CONCEPT AND IS NOT TO BE CONSIDERED A SERVICE OF COMPUTER SCIENCE HOUSE</h1>
  </body>
</html>